.root {
    width: 300px;
    margin: 30px;
}

.root a {
    text-decoration: none;
    color: black;
}
.link img {
    padding: 5px;
}

@media (min-width: 280px) and (max-width: 600px){
    .root {
        width: 240px;
    }
    .link img {
        width: 200px;
    }
}